<div>     
    <form ng-submit="$ctrl.saveProduct()">

        <div>
            <label for="name">Nombre</label>
            <input id="name" type="text" ng-model="$ctrl.product.name"/>
        </div>
        <div>
            <label for="stock">Stock</label>
            <input id="stock" type="number" ng-model="$ctrl.product.stock"/>
        </div>
        <div>
            <label for="description">Description</label>
            <input id="description" type="text" ng-model="$ctrl.product.description"/>
        </div>
        <div>
            <label for="purchasePrice">Precio de Compra</label>
            <input id="purchasePrice" type="number" ng-model="$ctrl.product.purchasePrice"/>
        </div>
        <div>
            <label for="salePrice">Precio de Venta</label>
            <input id="salePrice" type="number" ng-model="$ctrl.product.salePrice"/>
        </div>
        <div>
            <label for="retailPrice">Precio de Venta al Publico</label>
            <input id="retailPrice" type="number" ng-model="$ctrl.product.retailPrice"/>
        </div>
        <input type="submit"/>
    </form>
    <div ng-repeat="product in $ctrl.products"></div>
</div>